@using HCM_app.ViewModels
@model RegisterViewModel
<h1>REGISTER</h1>
<form asp-action="Register" method="post" asp-controller="Home">
	@Html.AntiForgeryToken()
	<input asp-for="FirstName" type="text" placeholder="First name..." />
	<span asp-validation-for="FirstName" class="text-danger"></span>
	<input asp-for="LastName" type="text" placeholder="Last name..." />
	<span asp-validation-for="LastName" class="text-danger"></span>
	<input asp-for="Email" type="email" placeholder="Email..." />
	<span asp-validation-for="Email" class="text-danger"></span>
	<input asp-for="JobTitle" type="text" placeholder="Your job..." />
	<span asp-validation-for="JobTitle" class="text-danger"></span>
	<input asp-for="Salary" type="number" placeholder="Salary..." />
	<span asp-validation-for="Salary" class="text-danger"></span>
	<input asp-for="Department" type="text" placeholder="Department..." />
	<span asp-validation-for="Department" class="text-danger"></span>
	<input asp-for="Password" type="password" placeholder="Password..." />
	<span asp-validation-for="Password" class="text-danger"></span>
	<button type="submit">Register</button>
</form>